@use '~@fortawesome/fontawesome-free/scss/regular.scss';
@use '~@fortawesome/fontawesome-free/scss/solid.scss';
@use '~@fortawesome/fontawesome-free/scss/fontawesome.scss';

/* barrio-regular - latin */
@font-face {
  font-family: 'Barrio';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barrio-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Barrio Regular'), local('Barrio-Regular'),
       url('../fonts/barrio-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barrio-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barrio-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barrio-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barrio-v4-latin-regular.svg#Barrio') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}