html,body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Open Sans';
  color: #333;
}

a {
  color: #333;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}
.button-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  border-radius: 12px;
  border: 3px outset #888;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  
  box-shadow: 0 3px 1px rgb(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
  background:linear-gradient(160deg, #666, #444);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);

  margin: 15px;
  &.small {
    padding: 5px 10px;
    font-size: 16px;
  }
  &:hover {
    cursor: pointer;
  }
  &:active,
  &:focus {
    outline: 0;
  }
  &:active {
    box-shadow: none;
    top: 3px;
  }
}

#app {
  #screen {
    position: relative;
    min-height: 100vh;
    width: 100%;
    max-width: 800px;
    background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);
    text-align: center;
    overflow: hidden;
    h1 {
      font-size: 40px;
      font-family: Barrio;
    }
    h2 {
      margin: 40px;
      padding: 0;
      font-size: 40px;
    }
    h2#displayText {
      font-size: 60px;
    }
    #controls {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 80px;
      @media only screen and (max-width: 900px) {
        display: none;
      }
    }
    #fullscreen {
      position: absolute;
      top: 0;
      right: 0;
      margin: 15px 20px;
      font-size: 25px;
    }
  }
}