<template>
    <div id="screen">
        <div class="vertical-center">
            <div v-if="loading" class="loader">
                <p>Loading...</p>
                <img src="/images/loader.svg">
            </div>
            <div v-if="!loading">
                <h1>Full Farce</h1>
                <router-link 
                    v-if="hasWordCategories"
                    v-on:mousedown.native="playAudio('click')"
                    to="/words/categories" 
                    tag="button">
                    Word game
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
            loading() {
                return !this.hasWordCategories
            },
            hasWordCategories() {
                return this.$store.state.wordCategories.length
            }
        },
        created() {
            this.storeCategories()
        }
    }
</script>