<template>
    <div id="screen">
        <div class="vertical-center">
            <div v-if="categories.length > 0">
                <h1>Word Categories</h1>
                <ul class="button-list">
                    <li v-for="category in categories">
                        <router-link 
                            v-on:mousedown.native="playAudio('click')" 
                            :to="{ name: 'words-category', params: { categoryId: category.id }}" 
                            tag="button">
                            {{ category.name }}
                        </router-link>
                    </li>
                </ul>
                <router-link 
                    v-on:mousedown.native="playAudio('click')"
                    class="small"
                    to="/"
                    tag="button">
                    Back
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
            categories() {
                return this.$store.state.wordCategories
            }
        },
        created() {
            this.storeCategories()
        }
    }
</script>