<template>
    <div id="screen" ref="el">
        <div class="vertical-center" v-if="showingIntro">
            <button 
                v-on:mousedown="playAudio('click')"
                v-on:click="startCountdown()">
                Start game
            </button>
            <router-link 
                v-on:mousedown.native="playAudio('click')"
                class="small"
                to="/words/categories"
                tag="button">
                Back
            </router-link>
        </div>
        <div class="vertical-center" v-if="!showingPostGame && !showingIntro">
            <h2 id="displayText" :key="displayText">{{ displayText }}</h2>
        </div>
        <div id="controls" v-if="gameRunning">
            <button v-on:click="answerCorrect()">Correct</button>
            <button v-on:click="skipWord()">Skip</button>
        </div>
        <div class="vertical-center" v-if="showingPostGame">
            <div>
                <h2>You scored: {{ score }}</h2>
                <ul class="button-list">
                    <li><button 
                        v-on:mousedown="playAudio('click')" 
                        v-on:click="playAgain()">
                        Play again
                    </button></li>
                    <li><router-link 
                        v-on:mousedown.native="playAudio('click')" 
                        to="/words/categories" 
                        tag="button">
                        Play another Word game
                    </router-link></li>
                    <li><router-link 
                        v-on:mousedown.native="playAudio('click')" 
                        to="/" 
                        tag="button">
                    Choose a different game
                </router-link></li>
                </ul>
            </div>
        </div>
        <a id="fullscreen" href="#" v-on:click="toggleFullscreen()">
            <i v-if="!fullscreen" class="fas fa-expand"></i>
            <i v-if="fullscreen" class="fas fa-compress"></i>
        </a>
    </div>
</template>

<script>
    import NoSleep from 'nosleep.js'
    import { useDeviceOrientation, useDeviceMotion, useFullscreen } from 'vue-use-web'
    import { ref } from '@vue/composition-api'

    export default {
        computed: {
            words() {
                return this.$store.getters.getWordCategoryWords(this.$route.params.categoryId)
            }
        },
        data: () => ({
            gameWords: [],
            gameRunning: false,
            displayText: '',
            score: 0,
            showingIntro: true,
            showingPostGame: false,
            answering: false,
            fullscreen: false
        }),
        setup() {
            const el = ref(null)
            const { enterFullscreen, exitFullscreen, isFullscreen } = useFullscreen(el)
            const { alpha, beta, gamma } = useDeviceOrientation()
            const { accelerationIncludingGravity } = useDeviceMotion()
            const noSleep = new NoSleep
            return {
                alpha,
                beta,
                gamma,
                el,
                enterFullscreen,
                exitFullscreen,
                isFullscreen,
                accelerationIncludingGravity,
                noSleep
            }
        },
        created() {
            this.storeCategories()
        },
        watch: {
            gamma: function () {
                // Answering correct
                if (
                    this.gameRunning &&
                    !this.answering && 
                    this.isFacingUpOrDown()
                ) {
                    this.setAnswering()
                    this.answerCorrect()
                }
            },
            accelerationIncludingGravity: function (newAx, oldAx) {
                // Skipping
                if (
                    this.gameRunning && 
                    !this.answering && 
                    !this.isFacingUpOrDown()
                ) {
                    // Shake sensitivity (a lower number is more)
                    let sensitivity = 20

                    // Position variables
                    let x1 = 0, y1 = 0, z1 = 0, x2 = 0, y2 = 0, z2 = 0

                    x1 = oldAx.x
                    y1 = oldAx.y
                    z1 = oldAx.z

                    x2 = newAx.x
                    y2 = newAx.y
                    z2 = newAx.z

                    // Check the position and fire if the change is greater than the sensitivity
                    let change = Math.abs(x1-x2+y1-y2+z1-z2)

                    if (
                        change > sensitivity && 
                        !this.answering
                    ) {
                        this.setAnswering()
                        this.skipWord()
                    }
                }
            }
        },
        methods: {
            startCountdown()
            {
                this.showingIntro = false
                if (!this.words.length) {
                    this.displayText = 'There are no words available for this category.'
                }
                else {
                    this.noSleep.enable()
                    this.displayText = 'Get ready!'
                    let i = 3
                    let self = this
                    setTimeout(function() {
                        let countdown = setInterval(function() {
                            if (i == 3) {
                                self.playAudio('start')
                            }
                            if (i == 0) {
                                clearInterval(countdown)
                                self.startGame()
                                setTimeout(function() {
                                    if (self.gameRunning) {
                                        self.showPostGame()
                                    }
                                }, 120000)
                            }
                            else {
                                self.displayText = i
                                i--
                            }
                        }, 1000)
                    }, 1200)
                }
            },
            playAgain()
            {
                this.resetGame()
                this.startCountdown()
            },
            resetGame()
            {
                this.score = 0
                this.gameWords = this.words.slice()
                this.gameWords.sort( function() { return 0.5 - Math.random() } )
                this.showingPostGame = false
            },
            startGame()
            {
                this.resetGame()
                this.gameRunning = true
                this.showNextWord()
            },
            answerCorrect()
            {
                this.playAudio('correct')
                this.score++
                this.skipWord(true)
            },
            skipWord(afterCorrect)
            {
                if (
                    afterCorrect !== undefined &&
                    afterCorrect
                ) {
                    this.vibrate(1)
                }
                else {
                    this.playAudio('skip')
                    this.vibrate(2)
                }

                if (this.gameWords.length) {
                    this.showNextWord()
                }
                else {
                    this.showPostGame()
                }
            },
            showNextWord()
            {
                let wordElement = this.gameWords.shift()
                this.displayText = wordElement.text
            },
            showPostGame()
            {
                this.vibrate(4)
                this.playAudio('end')
                this.gameRunning = false
                this.noSleep.disable()
                this.showingPostGame = true
            },
            vibrate(vibrateCount)
            {
                if (vibrateCount === undefined) {
                    vibrateCount = 1
                }

                navigator.vibrate = navigator.vibrate || navigator.webkitVibrate || navigator.mozVibrate || navigator.msVibrate

                if (navigator.vibrate) {
                    navigator.vibrate(100)
                    for (var i = 1;i < vibrateCount;i++) {
                        setTimeout(function() {
                            navigator.vibrate(100)
                        }, i*200)
                    }
                }
            },
            toggleFullscreen()
            {
                if (this.isFullscreen) {
                    this.exitFullscreen()
                    this.fullscreen = false
                }
                else {
                    this.enterFullscreen()
                    this.fullscreen = true
                }
            },
            isFacingUpOrDown()
            {
                let isFacingUpOrDown = false
                // a - spins around when phone horizontal
                // b -20 -> 20 || 160 -> 180 || -160 -> -180
                // g -30 -> 30 || 150 -> 180 || -150 -> -180
                if (
                    (
                        (this.gamma > -30 && this.gamma < 30) ||
                        (this.gamma > 150 && this.gamma < 180) ||
                        (this.gamma > -180 && this.gamma < -150)
                    ) &&
                    (
                        (this.beta > -20 && this.beta < 20) ||
                        (this.beta > 160 && this.beta < 180) ||
                        (this.beta > -180 && this.beta < -160)
                    )
                ) {
                    isFacingUpOrDown = true 
                }
                return isFacingUpOrDown
            },
            setAnswering()
            {
                this.answering = true
                let self = this
                setTimeout(function() {
                    self.answering = false
                }, 2000)
            }
        }
    }
</script>